<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form id="uploadForm" action="/api/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="resume" />
    <input type="submit" value="Upload File" name="submit">
</form>
</body>
</html>